@charset "utf-8";
/* CSS Document */
html, body {
  overflow-x: hidden;
}
body,td,th,p{
	font-family: 'Spartan', sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
  margin: 0;
  padding: 0;
	position:relative;
}
ul, li {
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
   
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #242731;
  max-width: 100%;
  min-height: 100%;
}
#footer {
  /* background-color: #444; */
  background-image: linear-gradient(10deg, rgb(100, 99, 99) 100% , rgb(44, 44, 44) 0%);  
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 180px;
  /* background-color: #252831; */
  background-image: linear-gradient(90deg, rgba(122,128,143,0.2) 0%, rgba(37,40,49,0.9) 100%) ,  url('/img/bg.jpeg');
  background-size: cover;
  background-position: center;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
}
 
nav h1 a {
  color: #fff;
  font-size: 20pt;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.line{
  display: block;
  width: 50%;
  height: 1px;
  background: #fff;
  margin: 17px auto
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 438px;
  width: 96%;
  top: -35px;
  margin: auto;
  border-radius: 5px;
  background-color: #ccc;
  box-shadow: 11px 11px 20px -19px rgba(0,0,0,0.75);
}

.inside #map{
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: 100%;
    height: 100px;
    background-color: #242731;
    align-items: center;
    display: flex;
    margin-top: -37px;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
 
}
.filter-options select {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  font-family: 'Spartan',sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  border-radius: 5px;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 11px 11px 20px -19px rgba(0,0,0,0.75);
  font-family: 'Spartan',sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 30px 25px;
  text-align: left;
  width: 300px;
  height: 460px;
  position: relative;

  display: flex;
  flex-direction: column;
}


#restaurants-list .restaurant-img {
  background-color: #ccc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #242731;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px 0px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background: linear-gradient(90deg, #fa7687 0%, #da3d53 100%);  
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  /* margin: 25px; */
  padding: 3% 25%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: absolute;
  bottom: 25px;
  align-self: center;
}

#restaurants-list li a:hover{
  background: linear-gradient(180deg, #da3d53 100% , #fa7687 0%);  
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: #fff none repeat scroll 0 0 !important;
  height: 87%;
  position: fixed;
  right: 0;
  top: 210px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width:100%;
}
#restaurant-name {
  color: #da3d53;
  font-family: 'Spartan',sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img{
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: -6px 0 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  border-top: 1px solid #fff;
  padding: 226px 20px 30px;
  width: 51%;
}



#reviews-container {
  padding: 30px 20px 80px;
}

#reviews-container h2 {
  color: #da3d53;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding:20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#reviews-list li p:nth-child(3) {
  color: #da3d53;
  text-align: right;
}



/* ====================== Media Query ====================== */



@media only screen and (max-width: 1200px) {
  
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  nav h1 a{
    font-size: 10px;
  }
  .inside #map-container {
    position: relative;
    margin-top: 50px;
    height: 400px;
    width: 100%;
  }
  .inside #map {
    background-color: #ccc;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  
  #restaurant-container{
    padding-top: 130px;
    width: 100%;
    text-align: center;
  }

  #restaurants-list li {
    width: 400px;
    height: 500px;
  }

  #restaurants-list p {
    width: 100%;
  }  
  #restaurants-list li h1 {
    height: 41px;
  }

    
  #restaurant-name{
    /* margin: 80px 2px 30px 0px; */
    margin-top: 80px;
    text-align: center;
  }

  #breadcrumb {
    width: 100%;
  }

  #restaurant-img , 
  #restaurant-cuisine {
    width: 70%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
 
  #restaurant-address {
    text-align: center;
    margin-top: 20px;
  }

  #restaurant-hours{
   text-align: center;
   margin: 0 auto;
   display: inline-block;
  }

  #reviews-container {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }

  #reviews-list li {
    text-align: left;
    width: 90%;
    margin: 30px;
  }
  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}


@media only screen and (min-width: 992px) {
  #restaurants-list li {
    width: 290px;
  }
}

@media only screen and (max-width: 768px) {
  nav h1 a {
    font-size: 12px;
  }

  #restaurants-list li {
    width: 280px;
  }
  #reviews-list li {
    text-align: left;
    width: 80%;
    margin: 30px;
  }
}



@media (max-width: 499px){
  #map {
    height: 250px;
  }

  #restaurants-list li {
    height: 460px;
}
.filter-options{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 50px;
}
.filter-options h2 {
align-self: flex-start;
}
.filter-options select {
  align-self: flex-end;
  border-radius: 5px;
  padding: 8px 10px;
  margin-right: 30px;
  }
  #reviews-list li {
    text-align: left;
    width: 70%;
    margin: 30px;
  }
  .inside #footer{
    padding: 20px 0;
  }
}


